<footer>
  <p>© TJA pls no stealerino</p>
  <p><a href="https://github.com/tjallen"><svg class="icon icon-github"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#github"></use></svg>Github @tjallen</a>
  </p>
</footer>