<%- partial('_partial/hero') %>

<p><%- theme.intro %></p>

<section class="intro">
  <p>Want to work together? <a href="mailto:thomwork@gmail.com">Get in touch!</a></p>
</section>

<section class="work">
  <h2>Work</h2>
    <% page.posts.forEach(function(item, index){ %>
        <%- partial('_partial/article-index', {item: item, index: index}) %>
    <% }); %>
</section
<%- partial('_partial/pagination') %>

<section class="contact">
  <h2>Contact</h2>
  <p>Interested in working together? Drop me an email below and I'll get back to you as soon as possible. Cheers!</p>
  <div class="cta">
    <a href="mailto:thomwork@gmail.com"><button>Email me</button></a>
  </div>
</section>